/* CSS Document */
body>.container
{
   margin-top:15px;
   margin-bottom: 0px;
}
.navbar-custom 
{	
	background:#337ab7;
	color:white;
	border-radius:0px;
	margin-bottom: 20px;
}
.navbar-custom .navbar-header
{
	margin-right: 10px;
}
.navbar-custom .navbar-header a
{
    color: #fff;
    font-size: 30px;
}
.navbar-custom  ul li 
{
	padding-left:5px;
}
.navbar-custom ul li a:hover
{
	 background: #256398;
}
.navbar-custom ul li .active
{
	 background: #2d6ca2;
}
.navbar-custom ul li a
{
	color:white;
	font-weight: 500;
	font-size:15px;
}
.btn-account  ul li 
{
	background: white;
	
}
.btn-account  ul li a
{
	padding:6px 15px;
	color:#666;
	
}
.btn-account ul li a:hover
{
	color:white !important;
}
.btn-account a:focus
{
	 background: #256398 !important;
}
.search-bar
{
	padding-bottom:  20px;
	padding-top: 20px;
	background: #eee;
}
.input-search  
{
	margin-top:20px;
	margin-bottom: 20px;
}
.input-search i
{
	position: absolute;
    right: 10px;
    top: 10px;
    color: #ccc;
}
.add-accout 
{
    text-align: right;
    padding-top:20px;
}
.tb-picture
{
	width:7%;	
}
.tb-name
{
	width:38%;	
}
.tb-action
{
	width:25%;	
}
.text-result
{
	text-indent: 10px;
}
.row-action
{
	padding-top: 16px !important;
}
.table-schedule thead tr 
{
	font-size:15px;
}
.table-schedule tbody tr
{
	height: 70px;
}
.table-schedule tbody tr td
{
	margin-top:6px;
}
.table-schedule tbody tr td div a
{
	font-weight:600;
	text-decoration:none;
}
.switch-button 
{
	margin-top:3px;
}
.btn-action
{
	color:#337ab7;
	border-color:#337ab7;
	line-height: 20px;
    border-radius: 3px;
    display: inline-block;
}

/*repost  css*/
.tab-content 
{
	margin-top:10px;
}
.header-repost 
{
	margin-top:15px;
	padding-bottom:10px;
	border-bottom:solid 1px #eee;
}
.repost-info-left 
{
	width:50%;
	font-size:16px;
	float:left;
}
.repost-info-right 
{
	width:50%;
	float:left;
	text-align:right;
}
.dropdown-toggle-text 
{
	
}
#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
    width: 970px;
    float: left;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}
.source-table 
{
	margin-top: 30px;
}
.source-body 
{
	min-height: 1000px;
}
.source-result-ajax 
{
	margin-top:40px;
	padding:0;
}
.col-result 
{
	border:solid 1px #ccc;
	border-radius: 4px;
	padding: 6px 6px;
	min-height: 400px;
}
.source-header 
{
	text-decoration: none;
	font-weight: bold;
}
.source-header span
{
	float:right;
	margin-top:3px;
}
.source-content 
{
	margin-top:8px;
}

.source-info 
{
	border:solid 1px #eee;
	border-radius: 4px;
	margin-top: 6px;
	padding:4px 0;
	color:black;

}
.source-info i 
{
	color:#4267B2;
	padding-left:6px;
}
.source-picture 
{
	margin-top:10px;

}
.source-picture img 
{
	width: 100%;
}
.source-action 
{
	margin-top:10px;
}
.result-ajax-content
{
	margin-top:20px;
    display: none;
}
.tab-search 
{
	margin-top:30px;
}

.table-info i
{
	padding-left:10px;
}
.search-sub 
{
	width: 970px;
    z-index: 9999;
    height: 400px;
    border: solid 1px #ccc;
    position: absolute;
    background: white;
    border-radius: 5px;
    overflow: hidden;
    margin-left: 16px;
    margin-top: 62px;
    display: none;
    overflow: auto;
}

.search-bar 
{
	background: #eee;

}
.btn-my-success 
{
	background-color: #1aaa55;
    border-color: #168f48;
    color: white;
    line-height: 27px;
    margin-left: 6px;
    width: 86px;
    margin-top: 1px;
}
.search-sub ul 
{
	padding-left:0;
	overflow: hidden;
}
.search-sub ul>li
{
	list-style: none;
    margin-top: 10px;
    overflow: hidden;
    padding-left:30px;
    padding-top:8px;
    padding-bottom: 8px;
    cursor: pointer;

}
.search-sub ul>li:hover
{
	background: #eee;

}
.search-sub ul>li>img 
{
	float:left;
}
.search-sub ul>li>div 
{
	margin-left:15px;
	float:left;
}
.search-sub ul>li>div>label
{
	margin-bottom: 0px;
	width: 100%;
}
/* Repost Css*/
    .content-header
    {
        margin-bottom: 20px;
    }
    .content-left
    {
        font-size:20px;
        font-weight: 500;
        float:left;
        width: 50%;
    }
    .content-left img   
    {
        border-radius: 5px;
    }
    .content-right 
    {

        float:left;
        width: 50%;
        text-align: right;
    }
    .content-right select
    {
        min-width: 50%;
    }
    .setting-table 
    {
        margin-top: 20px;
    }
    .fb-left,.fb-right
    {
        display: inline-block;
        float:left;
    }
    .fb-left
    {
        width:30%;
        vertical-align: top;
    }
    .fb-left span 
    {
        font-size:14px;
    }
    .fb-right
    {
        width:70%;
        margin-bottom: 20px;
    }
    .fb-right input
    {
        width: calc(50% - 19px);
        display: inline-block;
        padding: 5px 12px;
        height: 30px;
    }

    .acc-info{
    
    position:relative;
    border-bottom:1px solid #eee;

}
.aci-1-img{
    display:inline-block;
    
}
.aci-1-img img{
    width:30px;
    height:30px;    
}
.aci-1-text{
    padding-left:10px;
    line-height:20px;
    display:inline-block
}
.acc-i-2{
    float:left;
    text-align:center;  
    height:80px;
    line-height:80px;
}
.acc-i-2>div{
    display:inline-block;
    
    text-align:center;
    vertical-align:middle;
    line-height:20px;
    margin-right:25px   
}

.acc-i-2>div strong{
    color:#333;
    font-size:14px;
    
}

.acc-tab{
    border-bottom:1px solid #eee;
        
}
.acc-tab li{
    margin-right:15px;  
}
.acc-tab li a{
    position:relative;
    padding:15px 16px;
    text-align:center;
    color:#999;
    font-weight:700;
    font-size:15px;
    border-radius:0;
    border:0;
    border-bottom:2px solid transparent !important;
    text-decoration:none;
    background:transparent !important;  
}
.acc-tab li a:hover{
    border-color:transparent;
    background:none;
    color:#222  ;
    
}
.acc-tab li.active a{
    border:0 !important;
    background-color:#fff !important;
    border-bottom:2px solid #0f9aee !important;
    color:#000;
}
.acc-tab li a i{
    margin-left:3px;
    color:#ddd;
    font-size:12px  
}
.acc-tab li a i.active{
    color:#f0ad4e   
}
    
.acc-tab-menu{
    position:relative;  
}   
.acc-temp{
    position:absolute;
    top:24px;
    right:0;    
}
.acc-temp .dropdown{
    display:inline-block;
    margin-left:10px;
    
}
.acc-temp .btn-dropdown{
    border-radius:3px;
    background:#fafafa !important;
    outline:none !important;
    border-color:#e8e8e8 !important;
    color:#222 !important;
    width:150px;
    text-align:left;
    font-weight:500;
}
.acc-temp .btn-dropdown i{
    font-size:10px;
    color:#c4c4c4;  
    position:absolute;
    top:12px;
    right:10px;
}

.acc-s-a .dropdown-menu{
    width:400px;
    
}
.acc-temp .dropdown-title{
    font-weight:700;
    text-align:center;
    border-bottom:1px solid #eee;
    padding:7px 0;
    margin:0 10px;
    font-size:15px; 
    
}
.acc-temp .dropdown-title i{
    font-size:13px;
    color:#c4c4c4;
    position:absolute;
    top:15px;
    right:10px;
    cursor:pointer;
}

.dropdown-input{
    padding:10px;   
    position:relative;
    
}
.dropdown-input i{
    position:absolute;
    top:20px;
    right:20px; 
}
.dropdown-loading{
    padding:10px 0;
    text-align:center;
    font-size:16px
}
.dropdown-content{
    max-height:400px;
    overflow:auto;
}   
.dropdown-content li a{
    background: transparent;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    display: block;
    font-weight: 400;
    position: relative;
    padding: 8px 30px;
    color: #2e2e2e;
    line-height: normal;
    white-space: normal;
    overflow: hidden;
    text-align: left;
    width: 100%;
}
.dropdown-content li a:hover{
    background-color: #eee;
    color: #2e2e2e;
    outline: 0;
    text-decoration: none;  
}
.dropdown-content li a.is-active:before{
    content: '\f00c';
    position: absolute;
    left:10px;
    top: 18px;
    transform: translateY(-50%);
    font-family: 'Font Awesome 5 Free';
    font-weight:600; 

}

.acc-s-t .dropdown-menu{
    width:280px 
}

.btn-save-temp{
    color:#337ab7 !important;
    font-weight:700 !important
}
.btn-save-temp i{
    font-size:12px;
    margin-right:5px;   
}

.acc-set{
    
}
.acc-t{
    
    color:#222;
    font-weight:500;
    padding:10px 0 0px 0;
}
.acc-s-c{
    padding-left:10px;  
}
.frm-follow-set>div{
    margin-bottom:0;
}


.asc-left,.asc-right{
    display:inline-block    
}
.asc-left{
    width:250px;
    vertical-align:top; 
}
.asc-left i{
    color:#999;
    margin-left:5px;
    font-size:12px;
    padding:2px;    
}
.asc-right{
    width:500px;
    margin-bottom:20px; 
}
.asc-right input{
    width:calc(50% - 19px);
    display:inline-block;
    padding:5px 12px;
    height:30px;
    
}
.asc-right span{
    display:inline-block;
    width:30px;
    text-align:center;
    color:#999; 
    
}
.form-check-label{
    font-weight:500
}
.form-check-label input{
    margin-right:5px;
    position:relative;
    bottom:-2px
}



.acc-status{
    padding:20px 5px;   
}
.accs-info{
    float:left;
    
}
.accs-info .toggle{
    top:-2px;
    margin-left:5px;    
}
.accs-info>div{
    display:inline-block;
    margin-right:15px;
    
}

.accs-btn{
    float:right;    
}

.tab-content{
    
}

.loader{
    position:absolute;
    top:250px;
    text-align:center;
    left:0;
    width:100%;
    padding:20px;
    z-index:100;
    color:#7a7a7a;
    font-size:32px;
    display:none
}


.filter-acc-insta{
    margin-top:10px;
    margin-bottom:20px;
    background:#eee;
    padding:15px 20px;
            
}
.filter-acc-insta .dropdown{
    padding-right:74px; 
}
.filter-acc-insta .dropdown>i{
    position:absolute;
    right:84px;
    top:10px;
    color:#9a9a9a
}
.filter-acc-insta .dropdown>button{
    position:absolute;
    right:0;    
}
.ajax-acc-insta{
    position: absolute;
    top: 100%;
    left: 0;
    width:100%;
    z-index: 1000;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    display:none;
    max-height:300px;
    overflow:auto;
}
.ajax-acc-insta .ai-loader{
    padding:10px;
    font-size:16px  
}
.select-acc-insta li{
    list-style:none;
    color:#555;
    text-decoration:none;
    display:inline-block;
    width:100%;
    padding:10px 20px;      
}

.select-acc-insta li img{
    width:40px;
    height:40px;
    border-radius:50%;
    float:left;
        
}
.select-acc-insta li:hover{
    background:#eee;    
}
.select-acc-insta li div{
    padding-left:50px;
    position:relative;  
}
.select-acc-insta li label{
    width:100%;
    margin:0;
}

.list-acc-insta{
    margin-top:30px;    
}
.list-acc-insta li{
    text-decoration:none;
    display:inline-block;
    width:100%;
    padding:10px;   
    position:relative;
    vertical-align:middle;  
}
.list-acc-insta li img{
    float:left;
    width:30px;
    height:30px;
    border-radius:50%;  
    
}
.list-acc-insta li:nth-child(even){
    background:#fafafa; 
}
.list-acc-insta li:hover{
    background:#eee 
}
.list-acc-insta li div{
    padding-left:50px   
}
.list-acc-insta li div label{
    color:#333; 
}
.list-acc-insta li div span{
    color:#777;
    margin-left:10px;   
}
.list-acc-insta li div i{
    position:absolute;
    right:10px;
    top:15px;   
    color:#777;
}
.list-acc-insta li div i:hover{
    color:#111;
    cursor:pointer  
}
.table-result 
{
    margin-top:40px;
}
/*Schedule */
.setting-table 
{
		margin-top: 40px;
	}
	.fb-left,.fb-right
	{
		display: inline-block;
		float:left;
	}
	.fb-left
	{
		width:30%;
		vertical-align: top;
	}
	.fb-left span 
	{
		font-size:14px;
	}
	.fb-right
	{
		width:70%;
    	margin-bottom: 20px;
	}
	.fb-right input
	{
		width: calc(50% - 19px);
	    display: inline-block;
	    padding: 5px 12px;
	    height: 30px;
	}
.token_button
{
    text-align: right;
}
.tbr-p
{
    width: 8% !important;
}
.tbr-c 
{
    width: 60% !important;
}
.fb-video
{
    background: url(/assets/image/fb_video.png) center center no-repeat;
    /* margin: -286px 0 0 0; */
    background-size: 66px 66px;
    height: 100%;
    position: absolute;
    z-index: 10;
    width: 60px;
    height: 60px;
    margin-left: 45px;
    margin-top: -100px;
}